/* Iinitialisation */
html {
    scroll-behavior: smooth;
}

*,
body {
    font-family: monospace, open sans, sans-serif;
    margin: 0;
    padding: 0;
    /* background: rgb(6, 15, 63);
    background: linear-gradient(331deg, rgb(6, 4, 50, 1) 39%); */
    box-sizing: border-box;
}

/* Début Navbar */

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 40px;
    margin: 0 30px 0 30px;
    align-items: center;
}

.logo {
    font-size: 3.5rem;
    /* font-weight: 900; */
    color: #efefef;
    /* text-transform: uppercase; */
    cursor: pointer;
    text-shadow:
        1px 1px #333,
        1px 2px #333,
        1px 3px #333,
        1px 4px #333,
        1px 5px #333,
        1px 6px #333,
        1px 7px #333,
        1px 8px #333,
        /* 1px 9px #333,
        1px 10px #333, */
        1px 18px 6px #2d2d2d,
        /* 2px 22px 6px #2d2d2d,
    1px 25px 6px #2d2d2d, */
        1px 10px 6px #2d2d2d;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navlinks-items {
    position: relative;
    cursor: pointer;
}

.navlinks-items a{
    text-decoration: none;
    outline: none;
    color: #2d2d2d;
}

.navlinks-items::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 3px;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.navlinks-items:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.Hamburger{
    border: none;
    outline: none;
    background-color: transparent;
    display: none;
}

/* Fin Navbar */

/* Début header */
header {
    margin-top: 100px;
    display: flex;
    padding: 25px 40px 25px 40px;
    margin: 100px 30px 0 30px;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
    justify-content: center;
}

.description h2 {
    font-size: 3rem;
}

.social-mediaboutton {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.btn {
    position: relative;
    border: none;
    padding: 20px;
    color: white;
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0 6px #333;
    outline: none;
}

.btn a{
    text-decoration: none;
    color: #e3e0e0;
}

.btn:hover {
    bottom: -4px;
    box-shadow: 0 4px #333;
}

.btn:active {
    bottom: -6px;
    box-shadow: 0 0 #333;
}

.social-mediaboutton a img {
    border-radius: 100%;
    padding: 15px;
    position: relative;
    transition: transform 0.3s;
}

.social-mediaboutton a img:hover {
    background-color: grey;
    transform: scale(1.3);
}

.picture img {
    width: 550px;
    margin-right: 150px;
}

/* Fin Header */

/* Main */

.about {
    display: flex;
    flex-direction: column;
    margin: 100px 30px 0 30px;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 50px;
}

.about h2 {
    font-size: 3rem;
}

.aboutBody {
    display: flex;
    justify-content: space-around;
}

.about img {
    width: 450px;
    margin-right: 150px;
}

.about p {
    flex-wrap: wrap;
    max-width: 600px;
    gap: 20px;

}

/* 
.skills {
    display: flex;
    flex-direction: column;
    margin: 100px 30px 0 30px;
    justify-content: center;
    gap: 50px;
}

.skills h2 {
    font-size: 3rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 50px 50px 50px;
    justify-content: center;
    justify-content: space-around;
}

.dev {   
    max-width: 225px;
}

.dev h3{
    margin-bottom: 20px;
    font-size: 1.5vw;
}

 .competence image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);Deux colonnes
    grid-template-rows: repeat(2, auto);Deux lignes
    padding: 50px;
} */

.skills {
    display: flex;
    flex-direction: column;
    margin: 100px 30px 0 30px;
    justify-content: center;
    gap: 50px;
}

.skills h2 {
    font-size: 3rem;
}

.skill-group {
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* Espace entre les groupes de compétences */
    padding: 20px 50px 50px 50px;
    justify-content: space-around;
}

.dev {
    max-width: 225px;
}

.dev h3 {
    margin-bottom: 30px;
    font-size: 1.5vw;
}

.competence {
    /* Conteneur des images */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes pour éviter le dépassement */
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    /* Espace entre les images */
}

.competence img {
    width: 90px;
    height: 90px;
}


.toolsandesign h3 {
    margin-bottom: 30px;
    font-size: 1.5vw;
}

/* Section projets */
.section-projet {
    margin: 100px 30px 0 30px;
    gap: 50px;
}

.section-projet h2 {
    font-size: 3rem;
}

.project-group {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 300px;
    justify-content: center;
    gap: 30px;
}

.project-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3S ease-out;
}

.side-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 10px;
    list-style: none;
}

.side-social a {
    transition: transform 0.3s ease;
    transform: translateX(calc(150%));
}

.side-social a img {
    background-color: #e3e0e0;
    border-radius: 50%;
    padding: 5px;
}

.side-social a img:hover {
    transform: scale(1.1);
}

.project-description {
    position: absolute;
    left: 0.5px;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.project-description p {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    will-change: transform;
}

.project-card:hover .side-social a,
.project-card:hover .project-description {
    transform: translate(0);
}

.project-card:hover .side-social a:nth-child(1) {
    transition-delay: 0.15s;
}

.project-card:hover .side-social a:nth-child(2) {
    transition-delay: 0.3s;
}

.project-card:hover {
    transform: scale(0.95);
    box-shadow: 0 0 0 3px #c3c0c0;
}

/* Footer */
footer {
    background-color: #333;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer a {
    text-decoration: none;
    margin-right: 5px;
    color: white;
}

footer a img{
    color: white;
}

@media screen and (max-width:815px) {
  

    nav {
        display: flex;
        padding: 25px 0 0 0;
        align-items: center;
    }

    .logo {
        position: absolute;
        font-size: 1.2rem;
        top: 35px;
        align-items: center;
    }

    .navlinks {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background-color: white;
        transform: translate(100%);
        overflow-block: hidden;
    }

    .Hamburger{
       display: block;
       position: absolute;
       top: 40px;
       right: 12px;
       z-index: 991;
       overflow-y: hidden;
       transition: transform 0.3s ease;
    }

    .open{
        transform: translate(0);
        transition: transform 0.3s ease;
    }



    header {
        position: relative;
        display: flex;
        margin: 100px 0 0 0;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .description {
        order: 2;
    }

    .description h2 {
        font-size: 1.4rem;
    }

    /* .social-mediaboutton{
        display: flex;
       
    } */

    .picture {
        order: 1;
        align-items: center;
    }

    .picture img {
        width: 300px;
        margin-right: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 100px 0 0 40px;
        justify-content: center;
    }

    .about h2 {
        font-size: 1.5rem;
    }

    .about p {
        flex-wrap: wrap;
        width: 100%;
      
    }

    .aboutBody {
        display: flex;
        flex-direction: column;
        padding: 0 40px 0 40px;
    }

    .about img {
        width: 100%;
        margin-top: 20px;
    }

    .skills h2 {
        font-size: 1.5rem;
    }

    .skill-group{
        display: flex;
        flex-direction: column;
    }

    .skill-group h3 {
        font-size: 1.2rem;
    }

    .competence img {
        width: 70px;
        height: 70px;
    }

    .section-projet {
        margin: 100px 0 0 0;
        gap: 50px;
    }

    .section-projet h2 {
        font-size: 1.5rem;
        padding: 40px;
    }

}

@media screen and (max-width:390px){
    
    .competence img {
        width: 60px;
        height: 60px;
    }
}

@media (pointer: coarse) { 
    .project-card:hover {
        transform: none;
        box-shadow: 0 0 0 0;
    }

    .project-description {
        transform: none;
    }

    .side-social a {
        transform: none;
    }
    .navlinks-items:hover::before {
        transform: none;
    }

    .navlinks-items::before {
        transform: none;
        display: none;
    }

    .social-mediaboutton a img:hover {
        transform: none;
    }
}
  